@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import "../node_modules/normalize.css/normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat url('./images/wave.svg') bottom;
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.todo {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // background-image: linear-gradient(#2f7bdc 2px, transparent 2px), linear-gradient(to right, #2f7bdc 2px, transparent 2px);
  background-size: 32px 32px;

  &__title {
    font-size: 40px;
  }

  .content {
    padding: 0 5px 15px 0;
    background-color: #e7d835;
    border-radius: 7px;
    width: 600px;
  }

  &__list {
    // max-height: 80vh;
    margin: 25px 0 25px 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    // overflow-y: scroll;
  }

  &__item {
    gap: 4px;
    font-size: 25px;
    // border-bottom: 1px solid black;
    position: relative;

    ::after {
      position: absolute;
      left: -25px;
      bottom: 0;
      content: '';
      width: 103%;
      height: 1px;
      background: #000;
    }
  }

  &__container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__input {
    width: 85%;
    height: 100%;
    display: flex;

    font-family: 'Indie Flower', cursive;
  }
}

.btn {
  padding: 0 3px;
  display: inline-flex;
  height: 25px;

  align-items: center;
  justify-content: center;

  cursor: pointer;

  font-family: 'Indie Flower', cursive;

  &_remove {
    margin-left: 5px;
    border: none;
    background-color: inherit;

    font-size: 25px;
    color: red;

    transition: 0.3s;

    :active {
      transform: scale(2);
    }
  }

  &_create {
    height: 100%;
    border: none;
    background-color: rgb(0, 193, 0);
    color: rgb(240, 240, 240);
    border-radius: 3px;

    font-size: 17px;
  }

}

.task {
  &_complete {
    text-decoration: line-through;
  }
}

input[type="text"] {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color: #000;

  &:focus {
    border: 2px solid #0099FF;
    outline: none;
  }

  &::-webkit-input-placeholder {
    color: #000000;
  }


}